<div class="w3-container w3-teal">
    <div class="w3-row-padding">
        <div class="w3-third">
            <a href="/"> <h1>PrizmEx ТЕСТОВЫЙ</h1></a>
        </div>
        <div class="w3-third w3-center-align  w3-small">
            <h3>*** Работает на Chrome, IE 11, Edge ***</h3>

            <label id="time" title="время сервера"></label>

        </div>
        <!-- Right Column -->
        <div class="w3-third w3-right-align">
            <p>
                <a href="/amd/querys" class=" w3-btn w3-border w3-border-green w3-round" >А</a>&nbsp;&nbsp;
                <a href="/profile" class="w3-button w3-border w3-border-white w3-round">Профиль</a>
                &nbsp;&nbsp<a href="/logout" class="w3-button w3-border w3-border-white w3-round">Выход</a>
            </p>
        </div>
    </div>
</div>

<div class="w3-container">
    <div class="w3-row-padding">
        <div class="w3-panel">
            <div class="w3-bar w3-blue">
                <a href="/amd/querys" class="w3-bar-item w3-button w3-border-right w3-border-white">Запросы</a>
                <a href="/amd/users" class="w3-bar-item w3-button w3-border-right w3-border-white">Пользователи</a>

                <a href="/amd/transactions" class="w3-bar-item w3-button w3-border-right w3-border-white">Транзакции</a>
                <a href="/amd/banks" class="w3-bar-item w3-button w3-border-right w3-border-white" >Банки</a>
                <a href="/amd/buhgalters2" class="w3-bar-item w3-button w3-border-right w3-border-white" >Отчеты</a>

            </div>
        </div>
    </div>
</div>

