<div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-col s6">
        <% if (deals.dt1.length) { %>
        <table class="w3-table-all w3-hoverable w3-card-4">
            <tr class="w3-green">
                <th>Price</th>
                <th>Amount</th>
            </tr>

            <% deals.dt1.forEach(function (name) { %>
            <tr>
                <td><%= Math.round(name._id*10000)/10000 %></td>
                <td><%= name.deal_am %></td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
    <!-- Right Column -->
    <div class="w3-col s6">
        <% if (deals.dt2.length) { %>
        <table class="w3-table-all w3-hoverable w3-card-4">
            <tr class="w3-green">
                <th>Price</th>
                <th>Amount</th>
            </tr>
            <% deals.dt2.forEach(function (name) { %>
            <tr>
                <td><%= Math.round(name._id*10000)/10000 %></td>
                <td><%= name.deal_am %></td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
</div>
