<div class="w3-container w3-teal" ng-controller="footer">
    <div class="w3-row-padding">
        <div class="w3-third">
            <p>
                2018 (c) PrizmEx
            </p>
        </div>
        <!-- Right Column -->
        <div class="w3-third">
            <p>Наш сайт: <a href="https://www.parovoz-prizm.com/" >Паровоз-Призм</a> </p>

        </div>

        <!--<div class="w3-third">
            <p>
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </p>
        </div>
        -->
        <div class="w3-third w3-right-align">
            <p>
                Тех.поддержка support@prizmex.ru
            </p>
        </div>

    </div>

    <div >
        {{onlineCount}}
        <!--<ul id="messages"></ul>-->
        <!--<form action="">-->
            <!--<input id="m" autocomplete="off" /><button>Send</button>-->
        <!--</form>-->
    </div>
</div>



<script type="text/javascript">
    //<![CDATA[
    //let myApp = angular.module('myApp',[]);
    let socketIo = io();
//    $(function () {
//        let socket = io();
//        $('form').submit(function(){
//            socket.emit('chat message', $('#m').val());
//            $('#m').val('');
//            return false;
//        });
//        socket.on('chat message', function(msg){
//            $('#messages').append($('<li>').text(msg));
//        });
//    });
    myApp.controller('footer', function($scope) {

        socketIo.on('onlineCount', function (data) {

            $scope.onlineCount = data;

        });

    });

    //]]>
</script>