
<div class="top_line"></div>
<div class="container">
    <div class="logo">
        <a href="/"><img src="/img/logo.svg" alt="logo"></a>
    </div>
    <div class="menu">
        <ul>
            <li ><a href="/">Главная</a></li>
            <li><a href="/profile/query">Ввод-вывод</a></li>
            <li ><a href="/profile/data">Профиль</a></li>
            <li><a href="/userinfo">Отчеты</a></li>
            <li><a href="komissii.html">Комиссии</a></li>
        </ul>
    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/common.js?ver=1.0.18"></script>