
<div class="blocks">
    <div class="logo">
        <a href="/"><img src="/img/logo.svg" alt="logo"></a>
        <% if(user && user.status > 2){%>
            <a href="/amd/querys" class="active" ><img src="/img/sign/key.png" alt="A"></a>
        <%}%>
    </div>
    <div class="info">
        <span id="time" title="время сервера"></span>
    </div>
    <div class="account">
        <div class="top">
            <div class="lang">
                <a href="#"><img src="/img/lang/en.png" alt=""></a>
                <a href="#" class="active"><img src="/img/lang/ru.png" alt=""></a>
                <a href="#"><img src="/img/lang/ch.png" alt=""></a>
            </div>
            <span>Личный кабинет</span>
        </div>
        <% if(user){%>
        <div class="in_acc" style="display: none;">
            <div class="body">
                <div class="name"><span>Username</span><a href="#" id="logout">Выйти</a></div>
                <div class="currency">
                    <div class="currency_text">
                        <div class="namecur">B:</div><div class="val">55.00</div><div class="img"><img src="/img/account/currency/1.png" alt=""></div>
                        <br><div class="namecur">S:</div><div class="val">5.00</div><div class="img"><img src="/img/account/currency/1.png" alt=""></div>
                        <br><div class="namecur">P:</div><div class="val">25.00</div><div class="img">%</div>
                    </div>
                    <div class="currency_text">
                        <div class="img"><img src="/img/account/currency/2.png" alt=""></div><div class="val">4.00</div>
                        <br><div class="img"><img src="/img/account/currency/1.png" alt=""></div><div class="val">26.0000</div>
                        <br><div class="img">$</div><div class="val">500.000</div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div><img src="/img/account/1.png" alt=""><a href="#">ПАРОВОЗ</a></div>
                <div><img src="/img/account/2.png" alt=""><a href="#">rePRIZM</a></div>
            </div>
        </div>

        <%} else {%>

        <div class="signup">
            <form id="formlogin" action="javascript:void(0);" onsubmit="return ValidMailLogin('#formlogin','#formlogin .input-form-email','#formlogin .input-form-pass');">
                <div class="form-group"><input class="input-form-email form-control email" type="text" placeholder="E-mail"></div>
                <div class="form-group"><input class="input-form-pass form-control password" type="password" placeholder="Пароль"></div>
                <div class="bottom"></div>
                <div class="bottom">
                    <input type="submit" id="signup" class="btn active" value="Войти" />
                    <div class="form_link"><a href="/confirmed/droppass" id="repass">Забыли пароль?</a><br><a href="/register">Регистрация</a></div>
                </div>
            </form>
        </div>
        <div class="repass" style="display: none;">
            <form action="/confirmed/senddroppass" method="post">
                <div class="form-group">
                    <input class="form-control email" name="email" type="text" placeholder="E-mail">
                </div>
                <div class="bottom"></div>
                <div class="bottom">
                    <input type="submit" id="repassbtn" class="btn active">Сменить</input>
                    <div class="form_link"><a href="#" id="signupform">Войти</a><br><a href="/register">Регистрация</a></div>
                </div>
            </form>
        </div>
        <%}%>
    </div>
</div>
<div class="header_line"></div>



<div class="w3-container w3-teal">
    <div class="w3-row-padding">
        <div class="w3-third">
            <a href="/"> <h1>PrizmEx ТЕСТОВЫЙ</h1></a>
            <% if(user && user.status > 2){%>
                <a href="/amd/querys" class=" w3-btn w3-border w3-border-green w3-round" >А</a>
            <%}%>
            <% if(!user){%>
            <p>
                <b><a href="/login">Вход</a> </b>
            </p>
            <%}%>
        </div>
        <div class="w3-third w3-center-align  w3-small">
            <h3>*** Работает на Chrome, IE 11, Edge ***</h3>

                <label id="time" title="время сервера"></label>

        </div>
        <!-- Right Column -->
        <div class="w3-third w3-right-align">

            <% if(user){%>
            <p>
                <div class="w3-right-align w3-small">
                    <span class="w3-border-top"><%= user.name_f%></span>
                </div>
                <a href="/profile/query" class="w3-button w3-border w3-border-white w3-round">
                    <label>ВВОД / ВЫВОД</label>
                </a>&nbsp;&nbsp;
                <a href="/profile" class="w3-button w3-border w3-border-white w3-round">
                    <label>МОИ ДАННЫЕ</label>
                </a>&nbsp;&nbsp;
                <a href="/logout" class="w3-button w3-border w3-border-white w3-round">ВЫХОД</a>
                <div class="w3-right-align w3-small">
                    <span>PZM: </span>
                    <label class="w3-border-bottom"><%= user.PZM %></label>
                    <span>&nbsp; RUR: </span>
                    <label class="w3-border-bottom"><%= user.RUR %></label>
                    <span>&nbsp; USD: </span>
                    <label class="w3-border-bottom"><%= user.USD %></label>
                </div>
            </p>
            <%}%>


        </div>
    </div>

</div>

<div class="w3-small" id="info">

</div>

<script>
    let socket = io.connect('');
    socket.on('message', function (data) {
        console.log(data.greeting);

        socket.emit('greeting', {response:'data received!'});
    });
</script>
