<div class="w3-container w3-teal">
    <div class="w3-row-padding">
        <div class="w3-third">
            <a href="/"> <h1>PrizmEx</h1></a>
        </div>
        <div class="w3-third w3-center-align">
            <h3>*** Работает на Chrome, IE 11, Edge ***</h3>
        </div>
        <!-- Right Column -->
        <div class="w3-third w3-right-align">
            <p><%- LoginRegister%></p>
        </div>
    </div>
</div>