<div class="w3-container w3-teal">
    <div class="w3-row-padding">
        <div class="w3-third">
            <a href="/"> <h1>PrizmEx</h1></a>
        </div>
        <div class="w3-third w3-center-align  w3-small">
            <h3>*** Работает на Chrome, IE 11, Edge ***</h3>

                <label id="time" title="время сервера"></label>

        </div>
        <!-- Right Column -->
        <div class="w3-third w3-right-align">
            <p><%- LoginRegister%></p>
        </div>
    </div>
</div>

<div class="w3-small" id="info">

</div>

<script>
    let socket = io.connect('');
    socket.on('message', function (data) {
        console.log(data.greeting);

        socket.emit('greeting', {response:'data received!'});
    });
</script>