<div class="w3-row-padding" ng-app="myApp">
  <!-- Left Column -->
  <div class="w3-col s6" ng-controller="MainCtrl">
    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h5>Купить</h5>
      </div>
      <% const url = '/api/q/res/'+qq.key_Hash %>
      <form action="<%= url %>" method="post" class="w3-container">
        <span><%= qq.datas %></span>
        <p>
          <input class="w3-btn w3-teal" type="submit" value="Подтвердить">
        </p>
      </form>



    </div>
  </div>
</div>