<div class="w3-panel" xmlns="http://www.w3.org/1999/html">
  <a href="/deals/1;2" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Gld</a>
  <a href="/deals/1;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a>
  <a href="/deals/2;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Gld/Slv</a>
  <!-- <a href="/3;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a> -->
</div>