<!DOCTYPE html>
<html>
<title>PrizmEx: <%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <!-- The Grid -->
    <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
            <div class="w3-card-4">
                <div class="w3-container w3-teal">
                    <h2>Сброс пароля</h2>
                </div>
                <form action="/confirmed/senddroppass" method="post" class="w3-container">
                    <p>
                        <input class="w3-input" type="email" name="email">
                        <label>Ваш email</label></p>

                        <input class="w3-btn w3-teal" type="submit">
                    </p>
                </form>
            </div>
            <div class="w3-right-align"><a href="/login">Вход</a></div>
        </div>
    </div>
</div>

<!-- End Grid -->

<footer>

</footer>

</body>
</html>