<!DOCTYPE html>
<html>
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-light-grey">

<header class="w3-container w3-teal">
  <div class="w3-row-padding">
    <div class="w3-container w3-quarter">
      <h1>Обменник PRIZM</h1>
    </div>
    <div class="w3-green w3-container w3-half">
      <p>Обороты:</p>
    </div>
    <div class="w3-container w3-quarter">
      <p><%- LoginRegister %></p>
    </div>
  </div>
</header>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <div class="w3-green w3-container w3-threequarter">

      <p>Предложения:</p>
      <div class="w3-responsive">
      <table class="w3-table w3-bordered w3-small">
        <tr>
          <th rowspan="2">Контрагент</th>
          <th colspan="2">Продажа</th>
          <th colspan="2">Оплата</th>
        </tr>
        <tr>
          <th>Кол-во</th>
          <th>Валюта</th>
          <th>Кол-во</th>
          <th>Валюта</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>11</td>
          <td>pzm</td>
          <td>50</td>
          <td>dollar</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>1</td>
          <td>pzm</td>
          <td>50</td>
          <td>rub</td>
        </tr>
        <tr>
          <td>Adam</td>
          <td>50</td>
          <td>dollar</td>
          <td>12</td>
          <td>pzm</td>
        </tr>
      </table>
      </div>
    </div>

    <div class="w3-container w3-quarter">
      <h2>Меню, чат</h2>
    </div>

  </div>

    <!-- End Grid -->

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <!-- <p>Find me on social media.</p> -->
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> -->
</footer>

</body>
</html>
