<!DOCTYPE html>
<html>
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<header>
      <p><%- LoginRegister %></p>
</header>

<!-- Page Container -->
<div>

</div>

    <!-- End Grid -->

<footer>

</footer>

</body>
</html>
